  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/profiles">Members
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/coffees" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Coffee Reviews
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/coffees"><h3>Coffee Reviews</h3></a></li>
              <li><a class="dropdown-item" href="/coffees/new"><h3>Add New Coffee</3></a></li>
            </ul>
          </li>
          <a class="navbar-brand" href="/" id="website-name"><h1>Coffee Snob Society</h1></a>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary" type="submit">
            <% if (user) { %>
              <a href="/auth/logout">Sign Out</a>
            <% } else { %>
              <a href="/auth/google" class="siwg-link">Sign In</a>
            <% } %>
          </button>
        </form>
      </div>
    </div>
  </nav>

<main>


