</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Coffee Snob Society</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" id="dropdown-group">
            <a class="nav-link dropdown-toggle" href="/coffees" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Coffee Reviews
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/coffees">Coffee Reviews</a></li>
              <% if (user) { %>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/coffees/new">Add New Coffee</a></li>
              <% } %>
            </ul>
          </li>
          <% if (user) { %>
          <li class="nav-item" id="members">
            <a class="nav-link" href="/profiles">Members</a>
          </li>
          <% } %>

        </ul>
        <form class="signin-out">
            <h4><% if (user) { %>
              <span class="users-name"><%= `Signed in as ${user.profile.name}` %></span>
              <a id="loginout-btn" type="submit" href="/auth/logout">Sign Out</a>
            <% } else { %>
              <a id="loginout-btn" type="submit" href="/auth/google">Sign In</a>
            <% } %></h4>
        </form>
      </div>
    </div>
  </nav>



<main>