<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<section class="container">
<img src="../images/flavor-wheel-en.png" id="coffee-wheel">
</section>
<%- include('./partials/footer') %>
