<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Coffee Snob Society</h1>
  <% if (user) { %>
    <h3>Welcome, <%= user.profile.name %></h3>
  <% } %>
</main>

// add flavor wheel image

<%- include('./partials/footer') %>
