<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>

    <section class="container">
      <div class="img-container">
        <img src="../images/flavor-wheel.png">
      </div>
    </section>


    <%- include('./partials/footer') %>