html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

main {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

nav, li {
  font-size: 1.8rem;
}

#members {
  padding-left: .5em;
}

.navbar-brand {
  font-size: 2rem;
}

.signin-out {
  padding: .2em;
  padding-right: .5em;
}

.users-name {
  padding-right: .5em;
}

img {
  margin: 0 auto;
height: 51.5vmax;
}

#loginout-btn {
  color: black;
  text-decoration: underline;
}

#loginout-btn:hover {
  color: gray;
  text-decoration: underline;
}

.dropdown-item {
  color: rgb(107, 107, 107);
}

.dropdown-item:active {
  background-color: rgb(223, 223, 223);
  color: black;
}

#navbar-items:active {
  color: black;
}