<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/coffees/new.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <form id="new-form" action="/coffees" method="POST">
    <p>*All fields are required</p>
    <label for="name-input">Name*</label>
    <input type="text" name="name" id="name-input" placeholder="required">

    <label for="producer-input">Producer*</label>
    <input type="text" name="producer" id="producer-input" placeholder="required, or type unknown">

    <label for="region-input">Region*</label>
    <input type="text" name="region" id="region-input" placeholder="required">

    <label for="country-input">Country*</label>
    <input type="text" name="country" id="country-input" placeholder="required">

    <label for="process-select">Process*</label>
    <select name="process" id="process-select">
      <option value="Washed">Washed</option>
      <option value="Natural">Natural</option>
    </select>

    <div class="taste-notes-from-roasters">Taste Notes from Roasters<br>
    <label for="taste1-input">Taste 1*</label>
    <input type="text" name="tasteNote.taste1" id="taste1-input" placeholder="required">
    <label for="taste2-input">Taste 2*</label>
    <input type="text" name="tasteNote.taste2" id="taste2-input" placeholder="required">
    <label for="taste3-input">Taste 3*</label>
    <input type="text" name="tasteNote.taste3" id="taste3-input" placeholder="required">
    <!-- <label for="taste4-input">Taste 4</label>
    <input type="text" name="tasteNote.taste4" id="taste4-input">
    <label for="taste5-input">Taste 5</label>
    <input type="text" name="tasteNote.taste5" id="taste5-input"> -->
  </div>

    <label for="harvest-input">Harvest Date*</label>
    <input
      type="month"
      name="harvest"
      id="harvest-input"
      placeholder="required"
    />

    <label for="roast-date-input">Roast Date*</label>
    <input
      type="date"
      name="roastDate"
      id="roast-date-input"
      placeholder="required"
    />

    <label for="varietal-input">Varietal*</label>
    <input type="text" name="varietal" id="varietal-input " placeholder="required, or type unknown">

    <label for="roasters-input">Roasters*</label>
    <input type="text" name="roasters" id="roasters-input" placeholder="required">

    <button type="submit">Add Beans*</button>
  </form>
</section>

<%- include('../partials/footer') %>